.about__container {
  display: flex;
  gap: 2rem;
  /* 
  background-color: red; */

  /* display: grid;
  grid-template-columns: 40% 50%; */
  /* /* gap: 15%; */
}

.about__me {
  width: 100%;

  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
  display: grid;
  place-items: center;
}

/* .leftCol {
  display: flex;
  flex-direction: column;
  background-color: red;
} */

.imgRound {
  width: 270px;
  max-width: 100%;
  margin: 0 auto;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  scale: 0.9;
  padding: 1.5rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  background: #5054a0;
  scale: 1;
  border-color: var(--color-bg-variant);
  cursor: pointer;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
  color: var(--color-white);
}
.about__card small {
  font-size: 0.7rem;
  color: var(--color-white);
}

.rightCol p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}
/*=========MEDIA QUERIES(small)========*/
@media screen and (max-width: 600px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    margin: 2rem auto 4rem;
  }
  .rightCol p {
    margin: 1rem 0 1.5rem;
    color: var(--color-light);
  }
}

/*=========MEDIA QUERIES(Medium)========*/
@media screen and (max-width: 1024px) {
  .about__container {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__me {
    width: 100%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .rightCol {
    text-align: center;
  }

  .rightCol p {
    margin: 1.5rem 0;
  }
  .about__me-image {
    order: -1;
  }
}
